<div class="center-wrapper">
  <div class="contact-container">

    <div class="content-wrapper">
      <div class="text-container">
        <p>
          To contact me, please use the following email address:<br><br>
          <span [innerHTML]="safeEmail" class="email-text"></span><br><br>
          Or click the button below<br>
          <span class="big-arrow">⬇️</span>
        </p>
      </div>
    </div>

    <!-- Social Buttons -->
    <div class="social-buttons">
      <a [href]="mailtoLink">
        <img src="assets/media/Email.png" alt="Email" class="social-btn">
      </a>

    </div>

  </div>
</div>
