<div class="center-wrapper">
  <div class="AboutMe-container">

    <div class="header-text">
      <p>Here some infos about myself🧑‍💻<p>

    </div>

    <div class="content-wrapper">



      <div class="text-container">
        <p>
          I recently completed a "career retraining" as a Software Developer,💻<br>
          a transformative experience that equipped me with a strong foundation in modern development practices.<br>
          My most recent role was at a company specializing in intralogistics, <br>
          where I contributed to the development of<br>
          software solutions focused on production overview and tracking systems.<br><br>

          One of my key projects involved the creation of a "shift schedule"🗓️ web application for production lines,<br>
          where I utilized Blazor🔥 to deliver a seamless and efficient user experience. In addition,<br>
          I had the opportunity to work on example demos🎮 in Unity, showcasing our software's potential <br>
          and helping prospective clients visualize how our solutions could be implemented effectively within their operations.<br><br>

          Since then, I’ve continued to explore my passion for development,<br>
          particularly in the realm of game creation.<br>
          I’ve worked on various Unity projects⚙️ in my spare time, constantly learning and expanding my skill set.<br>
          I find immense joy in discovering new technologies and approaches in software development,<br>
          which is why I’ve recently ventured into building this website using Angular.🌐 <br>
          The framework’s powerful features excite me,⚡ <br>
          and I can’t wait to explore its full potential<br>
          as I continue to develop innovative web applications🖥️.
        </p>
      </div>
    </div>



  </div>
</div>
