/* Base Reset and Global Styles */
html, body {
  cursor: default;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kalam", serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Animated Gradient Background */
  background: repeating-linear-gradient(135deg,
  darkblue 0%,
  mediumpurple 25%,
  darkblue 50%);
  background-size: 200% 200%;
  animation: gradientFlow 15s linear infinite;

  backdrop-filter: blur(10px);
}

/* Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.7);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(136, 136, 136, 0.5) transparent;
}



/* Gradient Animation */
@keyframes gradientFlow {
  from { background-position: 0 0; }
  to   { background-position: 100% 100%;}
}

::-webkit-scrollbar {
  display: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
