<div class="center-wrapper">
  <div class="SideInfo-container">

    <div class="header-text">
      <p>Here some infos about this site🧑‍💻<p>

    </div>

    <div class="content-wrapper">



      <div class="text-container">
        <p>
          I'm building this website using Angular as the framework,🚀<br>
          and I’m hosting it locally on my Raspberry Pi.🍓💻<br>
          Angular makes it easy to organize the site with components, <br>
          and it's been great for keeping everything modular and easy to manage.<br><br>

          To make the site more interactive, I’m using features like data binding, <br>
          custom directives, Routing, and animations to create some cool effects.💥 <br>
          The result is a smooth, dynamic experience for users, <br>
          and the site is fast and responsive.<br><br>

          If you’re curious, you can check out the source code on my GitHub.💻
          <br>It’s where I keep all the updates, improvements, <br>
          and new features I’m working on.<br><br>

          Feel free to take a look, <br>

          and let me know what you think!🤔💬
        </p>
      </div>
    </div>



  </div>
</div>
